.mainCont{
    min-height: calc(100vh - 6.34375rem);
    background-color: var(--bg-maincont);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem 0 1rem;
}

.subtitle{
    margin: 0;
}

.wrapper{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 2rem;
    justify-content: center;
}

@media screen and (max-width: 688px) {
    .subtitle{
        font-size: 0.9rem;
    }
}