:root{
    --bg-main: #F3F4F6;
}

.mainCont{
    min-height: calc(100vh - 3.875rem);
    background-color: var(--bg-main);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:  1rem 2rem 2rem 2rem;
}

.subtitle{
    margin: 0;
}

.wrapper{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 2rem;
    justify-content: center;
}

@media screen and (max-width: 688px) {
    .subtitle{
        font-size: 0.9rem;
    }
}