:root{
    --bg-main: #F3F4F6;
    --subtitle: #111827;
}

.mainCont{
    min-height: calc(100vh - 3.875rem);
    background-color: var(--bg-main);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:  1rem 2rem 2rem 2rem;
    gap: 1rem;
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://1.bp.blogspot.com/-ZXzWkLnOCuo/X6fn5ln1utI/AAAAAAAAJr0/rZAMizk0uRgYA_NeBfztqQ7nVKaiN791QCLcBGAsYHQ/s1920/Hunter%2BX%2BHunter%2B10.jpg');
}

.subtitle{
    margin: 0;
    text-align: center;
    color: var(--subtitle);
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 2rem;
    justify-content: center;
}

@media screen and (max-width: 688px) {
    .subtitle{
        font-size: 0.9rem;
    }
    .mainCont{
        padding: 1rem;
        gap: 1rem;
    }
    .wrapper{
        gap: 1rem;
    }
}