:root{
    --header-col: #111827;
    --font-header: #F9FAFB;
}

.headerC{
    background-color: var(--header-col);
    color: var(--font-header);
    display: flex;
    align-items: center;
    padding: 0.5rem 0 ;
    position: sticky;
    top: 0;
    z-index: 2;
}

.pageTit{
    margin: 0;
    font-size: 2.25rem;
    width: 100%;
    transform: translate(3%);
}

.headP{
    margin: 0;
    text-align: right;
    transform: translate(-3%);
}

.points{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
}

@media screen and (max-width: 688px){
    .pageTit{
        font-size: 1.6rem;
    }
    .headP{
        text-align: right;
        transform: translate(-6%);
    }
}