:root{
    --header-col: #111827;
    --font-header: #F9FAFB;
}

.headerC{
    background-color: var(--header-col);
    color: var(--font-header);
    display: flex;
    padding: 1rem;
    align-items: center;
}

.pageTit{
    margin: 0;
    font-size: 3rem;
    width: 100%;
}

.headP{
    margin: 0;
    margin: 0.5rem 0;
}

.points{
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media screen and (max-width: 688px){
    .pageTit{
        font-size: 2rem;
    }
}