:root{
    --back-marco: #51C4D3;
    --border-marco: #126E82;
    --sombra-marco: #126d8275;
    --font-marco: #EEEBDD;
}

.marcoPic{
    width: 18.75rem;
    height: 25rem;
    border: .0625rem solid var(--border-marco);
}

.picIn{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

h4{
    margin: 0;
    margin-top: 0.5rem;
    font-size: 1.5rem;
    text-align: center;
    color: var(--font-marco);
    text-shadow: 0 0 2px #000;
}

.marcoCar{
    background-color: var(--back-marco);
    padding: 0.5rem;
    border: 1px solid var(--border-marco);
    box-shadow: 0 0 2px var(--sombra-marco);
    cursor: pointer;
    transition: 0.2s;
    border-radius: .3125rem;
}

.marcoCar:hover{
    transform: scale(1.05);
}